<h1>Eat-da-Burger!</h1>
<img src="/assets/img/burger.png alt="Burger">

<h2>Burgers to eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{this.burger_name}}
        <button class="change-state" data-id="{{this.id}}" data-state = "uneaten">
          Devour it!
        </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2>Devoured Burgers</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{name}}
        <button class="change-state" data-id="{{this.id}}" data-state = "eaten">
          Devour it!
        </button>
      </li>
    {{/if}}
  {{/each}}
</ul>