body {
  text-align: center;
  background: repeating-linear-gradient(
  to right,
  #f6ba52,
  #f6ba52 20px,
  #ffd180 20px,
  #ffd180 40px
  );
  font-family: 'Permanent Marker', cursive;
}

img {
  height: 150px;
  width: 150px;
}

h1, h2 {
  text-align: center;
  color: darkred;
}

button {
  margin: 5px;
  background-color: navy;
  color: white;
  padding: 7px;
  border-radius: 50%;
}

ul {
  list-style-type:none;
}

li {
  color: darkgreen;
}

label {
  color: black;
}

s {
  color: darkblue;
}

